<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="js/config.js"></script>
<script src="js/controller/searchCtrl.js"></script>
<body>
    <div ng-app="app" ng-controller="searchCtrl" class="container">
     <div class="banner">
        <video autoplay muted loop>
            <source src="video/v.mp4" type="video/mp4">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
        <div class="search">
            <h2>Application Films</h2>
            <input class="form-control" placeholder="Chercher un acteur" ng-Model="searchActors" ng-change="getActors()"/> 
            <button class="btn btn-primary btnSearch" ng-click="getActors()">Search</button>
        </div>
      </div>
            <div ng-show="!moviesLoaded" class="cards">
              <div ng-repeat="actor in actors"  ng-click="getMovieById(actor.id)" class="card" style="width: 18rem;">
                <img src="http://image.tmdb.org/t/p/w500{{actor.profile_path}}" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">{{actor.name}}</h5>
                  <p class="card-text">{{actor.known_for_department}}</p>
                  <div class="btn">
                      <a href="#" ng-click="getMovieById(actor.id)" class="btn btn-primary">Films connus</a>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="moviesLoaded" class="cards">
              <div ng-repeat="c in cast"  class="card" style="width: 18rem;">
                  <img src="http://image.tmdb.org/t/p/w500{{c.poster_path}}" class="card-img-top" alt="..."/>
                  <div class="card-body">
                    <h5 class="card-title">{{c.original_title}}</h5>
                    <p class="card-text">{{actor.known_for_department}}</p>
                   
                  </div>
              </div>
            </div>
    </div>
  
</body>
</html>